* {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-color: black;
}
div{
 position: static;
 overflow: hidden;
 z-index: 1;
}
h2 {
 margin: 0;
 font-size: 4rem;
 font-weight: 900;
 color: #fff;
 
}

/* h2::before{ 
 content: '';
 position: absolute;
 left: 0;
 width: 120%;
 height: 100%;
 background: linear-gradient(90deg, transparent 0%, #000 25%,#000 100%);
 animation: animate 5.5s linear forwards;
} */

h2 span {
 position: relative;
 color: red;
 animation: move-text 2.75s forwards;
}

/* 
@keyframes animate {
 0%
 {
  left: 110%;
 }
 100%
 {
  left: -20%;
 }
} */

/* @keyframes move-text {
 0% { left: 0px; bottom: -0.2em; opacity: 1; }
 50% { left: 20px; bottom: .4em; opacity: .1; }
 75% { left: 20px; bottom: 0; opacity: .5; }
 100% { left: 0; bottom: 0; opacity: .8;  }
} */